*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    background: rgb(6, 22, 92);
    padding-left: 1.4rem;
    font-size: 1.5rem;
}

header{
    width: 100%;
    position: fixed;
}

ul{
    list-style: none;
    display: flex;
    padding-right: 10px;
    justify-content: center;
}

li{
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: black;
    color: white;
}

li:hover{
    background-color: black;
    color: rgb(11, 22, 167);
}

section{
    padding: 5rem 0 0 1.5rem;
    min-height: 100vh;
    color: black;
}

section a{
    color: black;
}

#inicio{
    background-image: url(imagem1.jpg); 
        background-size: cover;
    
}

#cursos{
      
    background-image: url(imagem2.jpg); 
    background-size: cover;
}

#turnos{
    background-image: url(imagem3.jpg); 
    background-size: cover;
}
#turmas{
    background-image: url(imagem4.jpg); 
    background-size: cover;
}

#contato{
    background-image: url(imagem5.jpg); 
    background-size: cover; 
}